<h1> Your results </h1>

<h4> According to the Bayes filtering your code was: <%= @bayes_result %></h4>
<h4> According to the Latent Semantic Indexing your code was: <%= @lsi_result %></h4>

<%= link_to "Back", root_path %>
